# Set :
    - Set is a collection which is unordered, unchangeable*, and unindexed. 
    - No duplicate members.
    - Sets are created using curly brackets{}.
    * Set items are unchangeable, but you can remove and/or add items whenever you like.

In [1]:
#Sets are unordered, so you cannot be sure in which order the items will appear.

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [2]:
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [3]:
# len is used to Get the number of items in a set:
print(len(thisset))

3

#### Set items can be of any data type:

In [4]:
set1 = {"apple", "banana", "cherry"}

In [5]:
set2 = {1, 5, 7, 9, 3}

In [6]:
set3 = {True, False, False}

In [7]:
set4 = {"abc", 34, True, 40, "male"}

In [8]:
print(type(set4))

<class 'set'>

In [9]:
# It is also possible to use the set() constructor to make a set

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [10]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [11]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

### Functions over list

#### set_name.add()

In [12]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")                            # Add an item to a set
print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

#### set_name.update

In [13]:
#To add items from another set into the current set, use the update() method.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)                        # Add elements from tropical into thisset
print(thisset)

# the object in the update() method does not have to be a set, 
# it can be any iterable object (tuples, lists, dictionaries etc.)

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'cherry', 'pineapple', 'apple', 'papaya', 'mango'}
{'cherry', 'orange', 'banana', 'kiwi', 'apple'}

#### set_name.pop(): pop()remove the last item
 Sets are unordered, so you will not know what item that gets removed.

In [14]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

#### set_name.remove(): If the item to remove does not exist, remove() will raise an error.

In [15]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")                       # Remove banana from set
print(thisset)

{'apple', 'cherry'}

#### set_name.discard(): If the item to remove does not exist, discard() will NOT raise an error.

In [16]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")                       # Remove banana from set
print(thisset)

{'apple', 'cherry'}

#### set_name.clear():  Empties the set

In [17]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

#### del setname: The del keyword will delete the set completely

In [18]:
thisset = {"apple", "banana", "cherry"}
del thisset                                    
# print(thisset)

#### Union: Returns a new set with all items from both sets & will exclude any duplicate items.

In [19]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

#### update(): Will exclude any duplicate items.

In [20]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)                           #inserts the items in set2 into set1:
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

#### intersection_update(): Will keep only the items that are present in both sets.

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

#### intersection(): Will return a new set, that only contains the items that are present in both sets.

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

#### symmetric_difference_update(): keep only the elements that are NOT present in both sets.

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'cherry', 'google', 'banana', 'microsoft'}

#### symmetric_difference(): Will return a new set, that contains only the elements that are NOT present in both sets.

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
print(z)

{'cherry', 'google', 'banana', 'microsoft'}

####  copy(): Returns a copy of the set

In [25]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()
print(x)

{'apple', 'banana', 'cherry'}

####  difference(): Returns a set containing the difference between two or more sets

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)
print(z)

{'banana', 'cherry'}

#### difference_update(): Removes the items in this set that are also included in another, specified set

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y) 
print(x)

{'banana', 'cherry'}

#### isdisjoint(): Returns whether two sets have a intersection or not

In [28]:
#Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) 
print(z)

True

#### issuperset():Returns whether this set contains another set or not

In [29]:
# Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) 
print(z)

True

#### issubset(): Returns whether another set contains this set or not

In [30]:
# Return True if all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y) 
print(z)

True